/* 모든 페이지에 공통으로 들어가는 기본 스타일 */
html, body {
    font-family: "Montserrat", "Paperlogy", serif;
    /* 앞에 쓴 서체를 적용하고 지원이 안되면 두번째 서체를 적용 */
    font-size: 17px;
    font-weight: 500;
    color: #555;
    line-height: 1.5;
    word-break: keep-all; /* 스페이스기준 단어별로 떨어지게 함 */
    word-wrap: break-word; /* 단어가 너무 긴 경우 강제로 줄바꿈을 주는 방법 */
}
.wrapper {
    width: 1750px;
    margin: 0 auto; /* 가운데 정렬 */
}
#wrap {
    position: relative; /* header 정렬 기준 */
    width: 100%;
    /*min-width: 1650px;     /* 최소 너비 지정 */
    overflow-x: hidden;
}


@media screen and (max-width:1790px){
    .wrapper {
        width: auto;
        margin: 0 20px;
    }
}



/* 글자를 숨겨야하는 경우 blind 클래스를 적용
    skip, blind 이렇게 두 이름으로 많이 부름 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent; /* 글자가 투명 */
}



/* 마우스 포인터 변경 */
.cursor { 
	position: absolute;  /* 반드시 absolute여야 하고 위치는 jquery에서 적용 시킴 */
	z-index: 1000;
	transform: translate(-50%, -50%); /* 커서 위치 조정 */
	pointer-events: none; /* 생성된 cursor에 마우스 오버 이벤트를 주지 않기 - 이걸 주지 않으면 cursor에 마우스가 오버된 것으로 인식되어 하단 요소가 클릭되지 않음 */
	display:none; /* 평소에는 보이지 않게 하기 위해서 - 만약 원래도 따라다니는 마우스 포인터를 디자인하려면 스타일을 주면 됨. */
}
.cursor.on {
	display:block;
    width: 100px;
    height: 100px;
    line-height:100px;
    background-color: #7964A4;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.popup {
	cursor: none !important; /* 만약 마우스 오버 시 생성한 cursor만 나타나고 실제 마우스 포인터는 안보이게 하려면 오버하는 요소에서 마우스 포인트를 안보이게 해야 함 */
}
a:not(header a):hover {
    cursor: none; /* 기본 커서 안 보이게 */
}