/* 태그별로 브라우저에서 기본스타일을 줌
    그걸 모두 삭제하고 body에서 선언한 글자 스타일 대로만 적용
    여백, 동그라미 삭제 */
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
strong, th {
    font-weight: inherit;
}
address, em {
    font-style: normal;
}
li {
    list-style: none;
}
button, input[type="button"], input[type="submit"] {
    cursor: pointer; /* 마우스 오버시 손바닥 모양 */
    border: none;
    background: none;
    text-align: left;
}
select, input, textarea, button {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}
fieldset {
    border: 0;
}
legend, caption {
    display: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}